.card {
  display: block;
  border: 0.1rem solid var(--ifm-color-gray-300);
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1.25rem;
}

.content {
  display: flex;
  align-items: center;
}

.graphics {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.title {
  margin: 0;
  font-size: 1.2rem;
  color: var(--ifm-link-color);
}

.description {
  margin: 0.25rem 0 0;
}
